@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #0f172a;
  --color-card: #ffffff;
  --color-card-foreground: #0f172a;
  --color-popover: #ffffff;
  --color-popover-foreground: #0f172a;
  --color-primary: #3b82f6;
  --color-primary-foreground: #f8fafc;
  --color-secondary: #f1f5f9;
  --color-secondary-foreground: #1e293b;
  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;
  --color-accent: #f1f5f9;
  --color-accent-foreground: #1e293b;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #f8fafc;
  --color-border: #e2e8f0;
  --color-input: #e2e8f0;
  --color-ring: #3b82f6;
  --color-success: #22c55e;
  --color-success-foreground: #fef2f2;
  --color-warning: #f59e0b;
  --color-warning-foreground: #fffbeb;
  --color-info: #06b6d4;
  --color-info-foreground: #f8fafc;
}

.dark {
  --color-background: #0f172a;
  --color-foreground: #f8fafc;
  --color-card: #1e293b;
  --color-card-foreground: #f8fafc;
  --color-popover: #1e293b;
  --color-popover-foreground: #f8fafc;
  --color-primary: #60a5fa;
  --color-primary-foreground: #1e293b;
  --color-secondary: #334155;
  --color-secondary-foreground: #f8fafc;
  --color-muted: #334155;
  --color-muted-foreground: #cbd5e1;
  --color-accent: #334155;
  --color-accent-foreground: #f8fafc;
  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #f8fafc;
  --color-border: #334155;
  --color-input: #334155;
  --color-ring: #1e40af;
  --color-success: #15803d;
  --color-success-foreground: #052e16;
  --color-warning: #f59e0b;
  --color-warning-foreground: #fffbeb;
  --color-info: #06b6d4;
  --color-info-foreground: #f8fafc;
}
